


:root {

--cyan:      hsl(176, 50%, 47%);
--cyan-dark: hsl(176, 72%, 28%);

--black:        hsl(0, 0%, 0%);

--gray-dark:    hsl(0, 0%, 48%);
--gray-light:   hsl(0,0%, 98%);

--border-light: hsl(0,0%, 95%);
--border-dark:  hsl(0,0%, 86%);

--btn-disabled: hsl(0, 0% ,80%);

}